@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Neucha&family=Roboto+Mono&display=swap');
 /* import LandingImage from '../assets/images/landingPage.jpg' */
 a {
  color: white;
}
.main {
  max-width: 100%;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-image:url("../../assets/images/landingPage.jpg") ;
  background-position:center; 
  background-size: cover;
  background-repeat: no-repeat; 
  z-index: -20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.main::before{
  background-color: rgb(0,0,0,.5); 
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
} 

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.foot{
  color : orange;
  font-weight: 900;
  font-size: 28px;
  letter-spacing: 4px;
  background-color: rgb(0,0,0,.7);
  font-family: cursive;
  border-radius: 30px 30px 0px 0px;
  z-index: 10;
  bottom: 0;
}

.foot > span {
  color: white;
  font-size: 44px;
}


@media only screen and (max-width:760px) {


.foot > span {
  font-size: 24px;
}
.foot{
  font-size: 20px;
}
}
