.loaderContainer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 5;
    left: 0;
    background-color: rgb(13, 110, 253 , .4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}