@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Neucha&family=Roboto+Mono&display=swap');

.authBackground {
    position: relative;
    width: 100%;
    height : 100vh;
    max-height: 100vh;
    background-position:center;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    background: url('./assets/svg/back2.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
  }
  @media only screen and (max-width:1000px) {
    .authBackground{
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
   
}


